body{
    background-color: black;
    
}
img{
    border: 5px solid white;
    width: 100%;
}
.container{
    color: aliceblue;
    text-align: center;
    margin: 40px 25%  0 25%;
    font-family: 'Libre Baskerville', serif;
}

h1{
    text-transform: uppercase;
    width: 100%;
    font-size: 2.5rem;
}
p{
    width: 100%;
    font-size: 1rem;
}